body {
  padding-top: 60px;
}
.logotransd {
  color: gray;
}

.navbar-default {
  background-color: green;
  font-size: 1.4em;
}
.centre {
  text-align: center;
}
.fablab {
  height: 100px;
  width: 100px;
  text-align: left;
}
.a {
  color: white;
}
.nav.navbar-brand {
  color: white;
}

.nav.navbar-nav li a {
  color: white;
  font-size: 20px;
}

.footer {
  border-top: 1px solid #ccc;
  padding-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.movieTitle:hover,
.movieTitle:focus {
  text-decoration: none;
}

.movieContent {
  text-align: justify;
}

.movieImage {
  border-radius: 7px;
  border: 4px solid white;
  box-shadow: 1px 1px 10px #555;
}

.illustration {
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  max-width: 100%;
}

.titre {
  color: red;
}

p,
li {
  font-size: 130%;
}
